.list {
  position: relative;
  width: 386px;
  width: 340px;
  max-width: 900px;
  background-color: #e6f7f0;
  margin: 0 auto;
  margin-bottom: 1rem;
  border-radius: 20px 20px 0 0;
}

.cardLinks {
  display: flex;
  padding: 1rem 0 1rem 0;
}

.cardLinks > a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  padding: 0.7rem;
  margin: 10px 10px 20px 0;
  background-color: #ffff;
  color: #00ab66;
  border-radius: 30px;
  border: 1px solid #00ab66;
  width: 120px;
}

.cardLinks > a:hover {
  background-color: #00ab66;
  color: #ffff;
}

.cardImage {
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.cardInformation {
  padding-left: 10px;
}

.containerWrapper {
  display: flex;
  width: 100%;
}

.container1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 1200px;
  margin: 0 auto;
}

.container2 {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

@media screen and (min-width: 810px) {
  .leftBox {
    height: 50vh;
  }
  .containerWrapper {
    height: 100%;
  }
  .container1 {
    justify-content: left;
  }
  .inputSearch {
    width: 250px;
  }
}

@media screen and (min-width: 1200px) {
  .list {
    width: 386px;
  }
}
