.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-top: 3rem;
}

.containerInner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerInner p {
  max-width: 700px;
}

.infoMain {
  text-align: left;
}
