@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

p {
  color: #475569;
}

.wrapper {
  flex: 1 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

label {
  margin-top: 1rem;
}

.feedback-danger {
  color: red;
}
